<div class="container">
  <form action="/posts/{{post.id}}" method="post">
    <h1>Edit Post</h1>

    <div class="form-group">
      <label for="post-date">Date</label>
      <input type="date" name="date" class="input-text" id="post-date" required>
      <span class="validity"></span>
    </div>

    <div class="form-group">
      <label for="post-title">Title</label>
      <input type="text" name="title" class="input-text" id="post-title" value="{{post.title}}" required>
    </div>

    <div class="form-group">
      <label for="post-description">Description</label>
      <textarea name="description" class="input-text" id="post-description" required>{{post.description}}</textarea>
    </div>

    <div class="text-right">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
  <div>
    <p><a class="link" href="../{{post.id}}">Cancel</a></p>
  </div>
</div>

<script>
  var date = new Date("{{post.date}}");
  var month = date.getUTCMonth()+1;
  var day = date.getUTCDate();
  var year = date.getUTCFullYear();

  var formatted_date = month+"/"+day+"/"+year;
  document.getElementById("post-date").value = formatted_date;
</script>
