<div class="container">
  <div class="show-post">
    <div>
      <img class="show-pic gridCentered" src={{post.picUrl}}>
    </div>
    <div class="show-text">
      <h2 class="show-title">{{post.title}}</h2>
      <p class="show-date">{{post.date}}</p>
      <p class="show-description">{{post.description}}</p>
    </div>
  </div>

  <div>
    <a class="button control-button" id="back-button" href="/posts/">
      <img src="../images/back-arrow.png" width=20px height=20px>
      <div class="back-text">Back</div>
    </a>
  </div>

  <div>
    <a class="button control-button" id="settings-button" href="#" onclick="toggle_visibility('edit-button'); toggle_visibility('delete-button'); toggle_visibility('share-button')">
      <img src="../images/dots.png" width=20px height=20px>
    </a>
  </div>
</div>

  <div id="edit-button" style="display: none">
    <a class="control-button" href="/posts/{{post.id}}/edit">Edit</a>
  </div>

  <div id="delete-button" style="display: none">
    <form method="POST" action="/posts/{{post._id}}?_method=DELETE">
      <button class="control-button" type="submit" Onclick="return confirm('Are you sure you want to delete this project?');">Delete</button>
    </form>
  </div>

  <div id="share-button" style="display: none">
    <button class="control-button" onclick="toggle_visibility('share-link');">
      Share
    </button>
  </div>

  <div class="popup tooltip" id="share-link" style="display: none">
    <div>
      <input type="text" value="http://galleree.herokuapp.com/posts/{{post.id}}/view" id="myInput">
    </div>
    <div>
      <button class="link-button" onclick="myFunction(); toggle_visibility('myTooltip'); toggle_visibility(popup);">
        <span class="tooltiptext" id="myTooltip" style="display: none"></span>
        <img src="../images/link.png" width=20px height=20px>
      </button>
    </div>
  </div>

<script>
  function myFunction() {
    var copyText = document.getElementById("myInput");
    copyText.select();
    document.execCommand("copy");

    var tooltip = document.getElementById("myTooltip");
    tooltip.innerHTML = "Link copied!";
  }
</script>

<script type="text/javascript">
  function toggle_visibility(id) {
    var e = document.getElementById(id);
    if(e.style.display == 'none')
      e.style.display = 'block';
    else
      e.style.display = 'none';
  }
</script>
