<div class="container">
  <div>
    <a class="button" href="/posts/">Back</a>
  </div>

  <div class="show-post">
    <p>{{post.date}}</p>

    <h2>{{post.title}}</h2>
    <img src={{post.picUrl}}>
    <p>{{post.description}}</p>
  </div>

  <div>
    <a class="button" href="/posts/{{post.id}}/edit">Edit</a>
  </div>
</div>
