<div class="container">

  <div class="show-post">
    <img class="show-pic" src={{post.picUrl}}>
    <h2>{{post.title}}</h2>
    <p>{{post.date}}</p>
    <p>{{post.description}}</p>
  </div>

  <div>
    <a class="button" href="/posts/">Back</a>
  </div>

  <div>
    <a class="button" href="/posts/{{post.id}}/edit">Edit</a>
  </div>

</div>
